<div class="d-flex flex-column flex-shrink-0 p-3 position-fixed">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/home.html" class="nav-link sidebar-navlink rounded-0 active" aria-current="link">
          <svg class="bi me-2" width="16" height="16"></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#profile" class="nav-link sidebar-navlink rounded-0">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Profile
        </a>
      </li>      
      <li>
        <a href="#skills" class="nav-link sidebar-navlink rounded-0">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Skills
        </a>
      </li>
    </ul>
  </div>