@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

body, p {
    font-family: 'Outfit', sans-serif !important;
    font-size: 0.9rem !important;
    font-weight: lighter !important;
    line-height: 1.7 !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Outfit", sans-serif !important;
  font-weight: 400 !important;
}

.dropdown-menu a.dropdown-item  {
    font-weight: lighter !important;
}

button.btn,
.btn,
.card,
.page-link,
.form-control,
.input-group-text,
.icon-shape {
    border-radius: 0!important;
}

.sidebar .nav-link.active:hover:active {
  border-radius: 0!important;
}

