
{% load static %}

{% for box in page.content_boxes.all %}
    <div class="row featurette mt-2 mb-5">
        {% if forloop.counter|divisibleby:2 %}
            <div class="col-md-6 order-md-2 mb-3">
                {% if box.image %}
                    <img src="{{ box.image.url }}" class="img-fluid d-block mx-lg-auto object-fit-sm-contain" alt="{{ box.title }}">
                {% elif box.image_url %}
                    <img src="{{ box.image_url }}" class="img-fluid d-block mx-lg-auto object-fit-sm-contain" alt="{{ box.title }}">
                {% endif %}
            </div>
            <div class="col-md-6 order-md-1">
                {% if box.title %}<h2 class="featurette-heading fw-normal lh-1">{{ box.title }}</h2>{% endif %}
                <div class="lead">{{ box.content}}</div>
            </div>
        {% else %}
            <div class="col-md-6 mb-3">
                {% if box.image %}
                    <img src="{{ box.image.url }}" class="img-fluid d-block mx-lg-auto object-fit-sm-contain" alt="{{ box.title }}">
                {% elif box.image_url %}
                    <img src="{{ box.image_url }}" class="img-fluid d-block mx-lg-auto object-fit-sm-contain" alt="{{ box.title }}">
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if box.title %}<h2 class="featurette-heading fw-normal lh-1">{{ box.title }}</h2>{% endif %}
                <div class="lead">{{ box.content }}</div>
            </div>
        {% endif %}
    </div>
    <hr class="featurette-divider mb-5">
{% endfor %}