<form method="post" class="newsletter-form mt-1 mb-4">
    <p class="fw-lighter">Monthly digest of what's new from {{ site_name }}</p>
    {% csrf_token %}
    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
        {{ form.email.errors }}
        {{ form.email }}
        <input id="newsletter1" type="text" name="email" class="form-control form-control-lg fw-lighter rounded-0" placeholder="Enter your email" aria-label="Email address">
        <label for="newsletter1" class="visually-hidden">Email address</label>
        
        {% include 'partials/button.html' with label="Subscribe" url="/#/" style="dark" extra_classes="btn-lg px-4 rounded-0 fw-lighter" %}
        
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success mt-2">{{ message }}</div>
        {% endfor %}
    {% endif %}
</form>