{% load static %}
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">

    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasMenuLabel"></h5>
      <button type="button" class="btn-close fs-5 text-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">






        <div class="d-flex flex-column flex-shrink-0 p-3"> 
            <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                <img 
                id="offcanvas-logo"
                    src="/static/img/logo_brand_light.png" 
                    alt="{{ site_name }} Logo" 
                    title="{{ site_name }}"
                    width="24"
                >                
                <span id="offcanvas-logo-text" class="ps-2 fs-4 fw-bold text-light">{{ site_name }}</span>
            </a> 
            <hr> 
            <ul class="nav nav-pills flex-column mb-auto">

                <li class="nav-item"> 
                    <a href="{% url 'home' %}" class="nav-link bg-transparent fs-4 fw-lighter ps-0 active" aria-current="page"> 
                        <i class="bi bi-house-door-fill pe-none me-2"></i>Home
                    </a> 
                </li>

                <li class="nav-item"> 
                    <a href="{% url 'home' %}" class="nav-link bg-transparent fs-4 fw-lighter ps-0" aria-current="page"> 
                        <i class="bi bi-file-person pe-none me-2"></i>About
                    </a> 
                </li>

                <li class="nav-item"> 
                    <a href="{% url 'home' %}" class="nav-link bg-transparent fs-4 fw-lighter ps-0" aria-current="page"> 
                        <i class="bi bi-file-post pe-none me-2"></i>Blog
                    </a> 
                </li>

                {% if request.user.is_staff %}
                    <li>
                        <a href="{% url 'home' %}" class="nav-link bg-transparent fs-4 fw-lighter ps-0">
                            <i class="bi bi-speedometer2 pe-none me-2"></i>Dashboard
                        </a>
                    </li>
                {% endif %}

            </ul> 
            <hr> 
            {% if request.user.is_authenticated %}

                <div class="dropdown"> 
                    <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle fs-4 fw-lighter" data-bs-toggle="dropdown" aria-expanded="false"> 

 {% if request.user.is_authenticated %}

    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" class="rounded-0 me-2" alt="{{ profile.get_preferred_display_name }}'s avatar" title="{{ profile.get_preferred_display_name }}'s avatar" width="32" height="32">
    {% else %}
        <img src="{% static 'img/default_avatar.png' %}" class="rounded-0 me-2" alt="{{ profile.get_preferred_display_name }}'s avatar" title="{{ profile.get_preferred_display_name }}'s avatar" width="32" height="32">
    {% endif %} 

  {% endif %}                       
                            {% if profile.get_preferred_display_name %}
                                                {{ profile.get_preferred_display_name }}
                                            {% else %}
                                                {{ request.user.username }}
                                            {% endif %}
                        
                    </a> 

                    <ul class="dropdown-menu dropdown-menu-dark text-small rounded-0 shadow">
                        <li><a class="dropdown-item" href="{% url 'home' %}">Home</a></li> 
                        <li><a class="dropdown-item" href="{% url 'home' %}">New post...</a></li> 
                        <li><a class="dropdown-item" href="#">Settings</a></li> 
                        <li><a class="dropdown-item" href="{% url 'home' %}">Profile</a></li> 
                        <li><hr class="dropdown-divider"></li> 
                        <li><a class="dropdown-item" href="{% url 'home' %}">Sign out</a></li> 
                    </ul> 
                </div>




               
                   
            
            {% else %}





   <div class="container py-5 px-0">
    <h2 class="pb-4">Login</h2>
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
    
        <div class="form-floating mb-3">
            <input type="text" name="username" class="form-control rounded-0" id="id_username" placeholder="Username" required>
            <label for="id_username">Username</label>
        </div>
    
        <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control rounded-0" id="id_password" placeholder="Password" required>
            <label for="id_password">Password</label> 
        </div>
    
        <button class="w-100 btn btn-lg btn-primary rounded-0" type="submit">Login</button> 
    
    </form>
</div> 

            {% endif %}
        </div>

    </div>
    
</div> 

