
<a-scene 
    vr-mode-ui="enabled: false"
    embedded 
    style="width: 100%; height: 100%;"
    shadow="type: pcfsoft"
>

    <a-assets>
      <a-asset-item id="pub1" src="/media/vox_files/models/planets/sun/sun.gltf"></a-asset-item>


      <a-asset-item id="pub1" src="/media/vox_files/models/pub/pub.gltf"></a-asset-item>

<a-asset-item id="otherprop1" src="/media/vox_files/models/other_prop_01/other_prop_01.gltf"></a-asset-item>
<a-asset-item id="otherprop2" src="/media/vox_files/models/other_prop_02/other_prop_02.gltf"></a-asset-item>
<a-asset-item id="otherprop3" src="/media/vox_files/models/other_prop_03/other_prop_03.gltf"></a-asset-item>
<a-asset-item id="otherprop4" src="/media/vox_files/models/other_prop_04/other_prop_04.gltf"></a-asset-item>

      <a-asset-item id="tree1" src="/media/vox_files/models/trees/trees.gltf"></a-asset-item>
      <a-asset-item id="pavement1" src="/media/vox_files/models/pavement/pavement.gltf"></a-asset-item>

    </a-assets>

    <a-entity light="type: ambient; intensity: 0.3;"></a-entity>

    <a-entity 
      id="cloudLight"
      light="type: directional;castShadow: true;intensity: 0.9;"
      position="-20 50 80"
    >
    </a-entity>

    <a-entity 
      id="groundLight"
      light="type: directional;castShadow: true;intensity: 0.9;"
      position="-5 50 100"
    >
    </a-entity>

    <a-entity geo="area: north"></a-entity>
    <a-entity geo="area: south"></a-entity>
    <a-entity geo="area: center"></a-entity>


      <a-entity id="rig" position="-100 -20 250" rotation="0 0 0">
          <a-entity 
              id="isoCamera" 
              camera 
              position="100 50 0"
              rotation="0 100 0"
              fov="70"
              far="10000"
              look-controls="enabled: true;"
    limited-look-controls="minPitch: -10; maxPitch: 10; minYaw: -10; maxYaw: 10"
    shadow="cast: true; receive: true;"
          >
          </a-entity>
      </a-entity>

      <script>
        AFRAME.registerComponent('limited-look-controls', {
          schema: {
            minPitch: {default: -10}, // degrees
            maxPitch: {default: 10},
            minYaw: {default: -10},
            maxYaw: {default: 10}
          },
          tick: function () {
            var rotation = this.el.getAttribute('rotation');
            // Clamp pitch (x) and yaw (y)
            rotation.x = Math.max(this.data.minPitch, Math.min(this.data.maxPitch, rotation.x));
            rotation.y = Math.max(this.data.minYaw, Math.min(this.data.maxYaw, rotation.y));
            this.el.setAttribute('rotation', rotation);
          }
        });
      </script>

</a-scene>