<div id="footer-svg-logo" class="flex-shrink-0">
    {% include simages/footer_logo.svg %}
</div>

<div class="flex-grow-1 ms-3">

    <div class="text-uppercase mb-0">
        <span class="fw-lighter fs-6 ms-0">
            {{ site.name }}    
        </span>
        
    </div>

    <p class="pt-0 mb-0">
        <span class="fw-lighter fs-6 ms-0">
            {{ site.strapline_text }}    
        </span>
        {% for strapitem in site.strapline %}

            {% unless forloop.first %}
                <span class="fw-lighter fs-6">{{ strapitem }}</span>
            {% else %}
                <span class="fw-lighter fs-6 ms-2">{{ strapitem }}</span>
            {% endunless %}
            
            {% unless forloop.last %}
                <span aria-hidden="true" class="fw-lighter">+</span>
            {% endunless %}

        {% endfor %}
    </p>
    
</div>

