<div class="pt-5 mb-5">
    <h1 class="display-3 fw-bolder">Port​fo​lio</h1>
    <figure>
        <h3 class="display-6 lh-1 fw-bolder fs-3">Port·​fo·​lio</h3>
        <figcaption class="blockquote-footer fw-bolder fs-4">
            pɔːtˈfəʊ.li.əʊ
        </figcaption>
        <blockquote class="blockquote">
        <p class="col-6 fs-4 fw-lighter lh-1 fst-italic">
                A collection of drawings, documents, etc. that represent a person's, especially an artist's, work:
            </p>
        </blockquote>
        A Blocks Eye View(Connections)
    </figure>
    
    

</div>