{% load viewcomponent_tags %}

{% load static %}
{% load i18n %}



<!DOCTYPE html>
<html lang="en" data-bs-theme="bg-gray-800">

    {% include 'partials/head.html' %}

    <body>
<div id="loader-bar">
  <div id="loader-progress"></div>
</div>
        
        {% include 'partials/offcanvas_menu.html' %}

        <div class="flex-column ">
            
            <header>
                {% include 'partials/header.html' %}
            </header>
            
            <div class="container" id="main-content">
                <div class="row">
                    <main class="col-12">
                        {% block content %}{% endblock %}
                    </main>
                </div>
            </div>

            <div class="container" id="footer-content">
                <div class="row">
                    {% include 'partials/footer.html' %}
                </div>
                
            </div>     
        </div>
        
 

        {% include 'partials/footer_scripts.html' %}
        
    </body>

</html>


              



