{% include head.html %}
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include header.html %}
        
        <h1>Error 404</h1>
        <h3>Page URL unknown</h3>
        <p>{{ content | markdownify }}</p>

        {% if page.404_footer %}
            {% include {{ page.404_footer }} %}
        {% endif %}

    </body>
</html>