{% include 404_head.html %}
    <body class="d-flex h-100 text-white bg-dark">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        {% if page.404_header %}
            {% include {{ page.404_header }} %}
        {% endif %}

        <main class="px-3">
            <h1>Error 404</h1>
            <h3>Page: <span id="unknown-url" class="badge bg-danger rounded-0 pb-2"></span> is unknown</h3>
            <p class="lead">{{ content | markdownify }}</p>
            <p class="lead">
                <a href="{{ site.site_path }}" class="btn btn-lg btn-success fw-bold border-white border-0">Home</a>
            </p>
        </main>

        {% if page.404_footer %}
            {% include {{ page.404_footer }} %}
        {% endif %}

    </div>

    <script>
        var url = window.location.href;
        var url_split = url.split("/");
        var secondLevelLocation = url_split.reverse();
        document.getElementById("unknown-url").innerHTML = secondLevelLocation[0];
    </script>

    </body>
</html>