{% include head.html %}
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        {% include header.html %}
        
        <main class="container-fluid m-0 mt-5">
            
            <div class="row pt-4 pb-4">
            
                <div class="col-4 p-0 d-none d-md-block">
                    {% include sidebar.html %}
                </div>

                <div class="col-12 col-md-8">
                    
                    <div id="profile-header" class="p-3">
                        <h1>{{ page.title }}</h1>
                    </div>

                    <div id="profile" class="p-5 pt-5 mb-5 me-md-5 bg-body shadow-lg rounded">
                        {% for info in site.data.infos.portfolio_info %}
                            <h3 class="pt-5">
                                Profile
                            </h3>
                            <p>
                                {{ info.profile_p_01 }}
                            </p>
                            <p>
                                {{ info.profile_p_02 }}
                            </p>
                        {% endfor %}    
                    </div>

                    <div id="skills" class="p-5 pt-5 mb-5 me-md-5 bg-body shadow-lg rounded">
                        <h3 class="pt-5">
                            Skills
                        </h3>

                        <div class="row">
                            {% for skill in site.data.skills.skills_info %}
                                <div class="col-sm-3">
                                    <div class="card text-dark bg-white mb-3 border-0">
                                        <img src="{{ skill.img_url }}" class="card-img profile-imgs" alt="{{ skill.name }} image">
                                        <div class="card-img-overlay p-2">
                                            <a class="text-decoration-none text-dark" href="{{ skill.url }}" role="button" target="_blank">
                                                <span class="badge bg-primary rounded-0">
                                                    {{ skill.name }} 
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                                        <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                                        <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>

                                    <div class="card-footer bg-white border-0 p-0">
                                        <span class="p-0" style="font-size: 0.8rem!important;">Skill level</span>
                                            <div class="progress rounded-0">
                                                <div class="progress-bar bg-primary" role="progressbar"
                                                style="width: {{ skill.level }}%" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="software" class="p-5 pt-5 mb-5 me-md-5 bg-body shadow-lg rounded">
                        <h3 class="pt-5">
                            Software
                        </h3>
                        <div class="row">
                            {% for software in site.data.skills.softwares_info %}
                                    <div class="col-sm-3">
                                        <div class="card text-dark bg-white mb-3 border-0">
                                            <img src="{{ software.img_url }}" class="card-img profile-imgs" alt="{{ software.name }} image">
                                            <div class="card-img-overlay p-2">
                                                <a class="text-decoration-none text-dark" href="{{ software.url }}" role="button" target="_blank">
                                                    <span class="badge bg-primary rounded-0">
                                                        {{ software.name }} 
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                                            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                                            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                                                        </svg>
                                                    </span>
                                                </a>
                                            </div>

                                        <div class="card-footer bg-white border-0 p-0">
                                            <span class="p-0" style="font-size: 0.8rem!important;">Skill level</span>
                                                <div class="progress rounded-0">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                    style="width: {{ software.level }}%" aria-valuenow="{{ software.level }}" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>       
        

                            {% endfor %}
                        </div>
                    </div>


                    <div id="certificates" class="p-5 pt-5 mb-5 me-md-5 bg-body shadow-lg rounded">
                        <h3 class="pt-5">
                            Certificates
                        </h3>
                        <div class="row">

                            {% for certificate in site.data.certificates.certificates_info %}
                                <div class="card border-0 p-0">
                                    <div class="card-body">

<p>This certifies that <br>
<h6 class="card-subtitle mb-2 text-muted">{{ certificate.awarded_to }} </h6>
has successfully completed the freeCodeCamp.org</p>

                                        <h5 class="card-title">{{ certificate.name }}</h5>
                                        <p class="card-text">Developer Certification, representing approximately 300 hours of coursework.</p>
                                        <img src="{{ certificate.signature_url }}" style="width: 35%;
    display: block;">
                                        <a href="{{ certificate.cert_link }}" class="card-link">Card link</a>
                                        <a href="#" class="card-link">Another link</a>
                                    </div>
                                </div>
                            {% endfor %}

                </div>
        </div>


                </div>
        </div>
    
    </main>

</div>

        



        {% include footer.html %}

<script>
            var a = document.querySelectorAll(".sidebar-menu a");
            for (var i = 0, length = a.length; i < length; i++) {
              a[i].onclick = function() {
                var b = document.querySelector(".sidebar-menu a.active");
                if (b) b.classList.remove("active");
                this.classList.add('active');
              };
            }
</script>


    </body>
</html>