{% include head.html %}
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        {% include header.html %}
        
        <div class="container-fluid m-0">
            
            <div class="row pt-4 pb-4">
            
                <div class="col-4 p-0 d-none d-md-block">
                    {% include sidebar.html %}
                </div>

                <div class="col-12 col-md-8">
                    
                    <div class="p-3 pt-0 mb-5 bg-body">

                        <h1>{{ page.title }}</h1>

                        {% for page_title in site.pages %}
                            <h2>
                                <a href="{{ page_title.url }}">
                                    {{ page_title.title }}
                                </a>
                            </h2>
                        {% endfor %}
                    
                        {{ content | markdownify }}
            
                    </div>


                    <div id="skills" class="pt-5">
                        <h3>
                            Skills
                        </h3>
                        
                        {% for skill in site.data.skills.skills_info %}
                            <h2>
                                    {{ skill.name }}
                            </h2>
                            
                            <button type="button" class="btn btn-primary position-relative">
                                {{ skill.name }}
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{ skill.level }}
                                  <span class="visually-hidden">{{ skill.name }}</span>
                                </span>
                              </button>

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100">{{ skill.name }}</div>
                              </div>
                        {% endfor %}

                    </div>

                </div>
        </div>
    
    </div>

</div>

        



        {% include footer.html %}
    </body>
</html>