{% include head.html %}

    <body class="d-flex flex-column">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include header.html %}

        <div id="page-content" class="pt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div id="home-page">
                            <main class="pt-0 pb-4 w-100">
                                <div class="container-fluid">
                                    <div class="row">   
                                        <div class="col-12">
                                            <div class="pt-0 mb-5">
                                                {% include partials/hero-header.html %}
                                                {{ content }}
                                            </div>  
                                        </div>
                                    </div>    
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include footer.html %}

    </body>
</html>