<style>

</style>

{% include head.html %}

<body class="d-flex h-100">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="home-page">

        {% include header.html %}

            <main class="row pt-4 pb-4">

                <div class="col-12">
                    <div class="pt-5 mb-5">
                        
               

                        <img src="{% include mainurl.html %}/animated/boxed.svg" alt="">




                    

                        {{ content }}
                    
                    </div>
                </div>
                
            </main>

            {% include footer.html %}

        </div>

        <script>

                // const originalNumber = w; // Replace this with your original number
                // const percentageToSubtract = 20; // 10% of the original number
                // const subtractedWindow = originalNumber - (originalNumber * percentageToSubtract / 100);
                // canvas.setAttribute("width", subtractedWindow);
                // canvas.setAttribute("height", subtractedWindow);
                // canvas.style.width = subtractedWindow;
                // canvas.style.height = subtractedWindow;            

var w = window.innerWidth;
var h = window.innerHeight;








     



//     document.addEventListener('resize', function() {
//     // Code to run when the window is resized
//     console.log('Windowsssss resize! ' + w + h + " numbers" + window.innerWidth);
//     location.reload(); 

//     anim_container = document.getElementById("animation_container");
//                 anim_container.style.width = w-10;
//                 anim_container.style.height = w-10;
  
//                 dom_overlay_container = document.getElementById("dom_overlay_container");
//                 dom_overlay_container.style.width = w;
//                 dom_overlay_container.style.height = w;                

//                 canvas = document.getElementById("canvas");
//                 const originalNumber = w; // Replace this with your original number
//                 const percentageToSubtract = 0; // 10% of the original number
//                 const subtractedWindow = originalNumber - (originalNumber * percentageToSubtract / 100);
//                 canvas.setAttribute("width", subtractedWindow);
//                 canvas.setAttribute("height", subtractedWindow);
//                 canvas.style.width = subtractedWindow;
//                 canvas.style.height = subtractedWindow;

// }); 


  



// function resizeCanvas() {
//     canvas.width = window.innerWidth;
//     canvas.height = window.innerHeight;
//     console.log('Windowsssss resize! ' + w + "w X " + h + "h numbers " + window.innerWidth);
//     console.log('canvass Size! ' + canvas.width + "w X " + canvas.height + "h");
//     // Redraw content or reposition elements here if necessary
//     // For example, context.fillRect(0, 0, canvas.width, canvas.height);
// }

// // Initial canvas sizing
// resizeCanvas();

// // Add event listener for window resize
// window.addEventListener('resize', resizeCanvas);


            </script>

    </body>
</html>