{% include javascript_projects_head.html %}
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include header.html %}
        
            <div id="page-main" class="col-12 col-md-10 col-lg-8 h-100 mb-5 p-md-2 p-3-md mx-auto flex-column mb-5-md mt-5-md pb-5-md pt-5-md mt-4 overflow-hidden">
             
                

                <div id="javascript-projects-page" class="container">
                    <div class="" id="project-collapse-menu">
                        <div id="javascript_projects_nav" class="px-1 px-md-5"></div>
                    </div>
                </div>
            
            </div>

        {% include javascript_projects_footer.html %}
        
    </body>
</html>