{% include projects_head.html %}
    <body class="text-center">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include header.html %}
        
            <div class="cover-container d-flex w-75 h-100 p-3 mx-auto flex-column mb-5 mt-5 pb-5 pt-5">
                <div class="card text-center p-5 m-5 bg-body shadow-lg rounded">
                    <div class="card-body">
                        <figure class="text-center">
                            <div id="qoute_component"></div>
                        </figure>
                    </div>
                </div>
            </div>

        {% include projects_footer.html %}
        
    </body>
</html>