{% include projects_head.html %}
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include header.html %}
        
            <div id="quote-box" class="container">
                <div class="row pt-4 pb-4">

                    <div class="col-12">
                        <div class="p-5 mb-5 bg-body rounded">

                            {% for single_quote in site.data.projects.quote_machine.quotes %}
                                {{ single_quote.quote }}
                            {% endfor %}

                        </div>
                    </div>

                </div>
            </div>
            
        {% include footer.html %}
    </body>
</html>