{% include projects_head.html %}
    <body class="text-center">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include header.html %}
        
            <div id="quote-box" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column mb-5 mt-5 pb-5 pt-5">


<div class="card text-center p-5 m-5 bg-body shadow-lg rounded">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
        {% for single_quote in site.data.projects.quote_machine.quotes %}
            {{ single_quote.quote }}
        {% endfor %}
      </p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>

  <!-- some HTML -->
  <div id="the_root_of_your_reactJS_component"></div>
  <!-- some other HTML -->
  
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <!-- babel is required in order to parse JSX -->

  <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <!-- import react.js -->

  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"> </script>
  <!-- import react-dom.js -->

  <script type="text/babel" src="main.js"></script>
  <!-- import your JS and add - type="text/babel" - otherwise babel wont parse it -->
    
  </div>
</div>


                
                    </div>

{% include footer.html %}
        
    </body>
</html>